* {
	font-family: 'Poppins';
	box-sizing: border-box;
}

.container-form {
	border: none;
	margin: 20px;
	padding: 5px;
}

.grid-form {
	display: grid;
	grid-template-columns: 9fr 1fr;
	gap: 10px;
}

.comment-text textarea {
	width: 100%;
	height: 100%;
	resize: none;
	border: none;
	outline: none;
}

.btn-form input[type='submit'] {
	width: 100%;
	height: 100%;
	border: none;
	outline: none;
	cursor: pointer;
	background-color: #fecd1a;
	color: white;
	border-radius: 5px;
}
