.container-form {
	background-color: white;
	border-radius: 25px;
	margin: 20px auto;
	width: 80%;
	height: 500px;
	display: flex;
	flex-direction: column;
	align-items: center;
	font-family: 'Poppins';
	position: relative;
}

#form-edit-profile {
	display: flex;
	flex-direction: column;
	gap: 10px;
	margin-top: 50px;
}

#form-edit-profile input[type='text'],
#form-edit-profile input[type='file'],
#form-edit-profile textarea {
	width: 70%;
	padding: 10px;
	margin-bottom: 10px;
	resize: none;
	border: none;
	outline: none;
}

#form-edit-profile input[type='text']::placeholder,
#form-edit-profile input[type='file']::placeholder,
#form-edit-profile textarea::placeholder {
	color: #ccc;
	border-bottom: 1px solid #ccc;
}

svg {
	width: 20px;
	height: 20px;
}

#save-profile {
	background-color: #fecd1a;
	cursor: pointer;
	border: none;
	border-radius: 25px;
	color: white;
	padding: 6px 12px 6px 12px;
}

#save-profile:hover {
	background-color: #efc11a;
}

.arrow-left {
	position: absolute;
	width: 20px;
	height: 20px;
	top: 20px;
	left: 20px;
	cursor: pointer;
}
