.container-info {
	background-color: #fafafa;
	border-radius: 25px;
	width: 80%;
	padding: 20px;
	margin: 20px auto;
	text-align: center;
	margin-top: 80px;
}

.post-info-head {
	display: flex;
	align-items: center;
}

.avatar {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	margin-right: 10px;
}

.post-info-head span {
	margin-right: 10px;
}

.post-info-body {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding: 20px;
}

.post-description {
	text-align: left;
	margin-bottom: 10px;
}

.post-images {
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	margin-bottom: 10px;
}

.post-images img {
	width: 50%;
	height: 100px;
	object-fit: cover;
	margin-right: 5px;
}

.post-hashtag {
	color: rgba(49, 148, 239, 1);
}

.post-hashtag span {
	margin-right: 5px;
}

.icon-button {
	width: 25px;
	height: 25px;
	border: none;
	cursor: pointer;
}

.container-buttons-interaction {
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.icon-button {
	margin-left: 10px;
}

.icon-img {
	width: 24px;
	height: 24px;
	vertical-align: middle;
}

span {
	margin-left: 5px;
}

.span-likes,
.span-comments {
	color: #b2aeae;
}

.span-username {
	color: gray;
}

.span-timestamp {
	color: gray;
}

@media (max-width: 1024px) {
	.span-timestamp {
		display: none;
	}
}

@media (max-width: 768px) {
	.container-info {
		width: 90%;
	}

	.post-images img {
		width: calc(48% - 4px);
		margin: 2px;
	}
}

@media (max-width: 576px) {
	.container-info {
		width: 95%;
	}

	.avatar {
		width: 30px;
		height: 30px;
	}

	.post-hashtag {
		display: none;
	}

	.post-info-head span {
		font-size: 12px;
	}

	.container-buttons-interaction {
		margin-top: 5px;
	}

	.icon-button {
		margin: 0 3px;
	}
}
