.container-menu {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 40px;
}

.container-btn-home,
.container-btn-add,
.container-btn-logout,
.container-btn-profile {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 80px;
	height: 80px;
	background-color: #fecd1a;
	border-radius: 50%;
	cursor: pointer;
}

.container-btn-home svg,
.container-btn-add svg,
.container-btn-logout svg,
.container-btn-profile svg {
	width: 50%;
	height: 50%;
	fill: #fff;
}
