.container-profile {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	height: 500px;
	width: 80%;
	background-color: #fafafa;
	border-radius: 25px;
}

.banner {
	width: 100%;
	height: 200px;
	object-fit: cover;
	border-top-left-radius: 25px;
	border-top-right-radius: 25px;
}

.head-container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	position: relative;
	width: 100%;
}

.avatar {
	width: 120px;
	height: 120px;
	border-radius: 50%;
	position: absolute;
	left: 25px;
	bottom: -50px;
}

.info-user-container {
	width: 90%;
	display: flex;
	flex-direction: column;
	text-align: left;
	margin: 50px;
}

.span-user-name {
	color: gray;
}

.footer-container {
	display: flex;
	width: 90%;
}

.footer-container span {
	color: gray;
	margin-right: 40px;
}

.btn-edit-settings {
	width: 80%;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.btn-setting {
	margin-top: 10px;
	width: 130px;
	height: 30px;
	background-color: #fecd1a;
	padding: 5px;
	border-radius: 25px;
	color: white;
	display: flex;
	align-items: center;
	padding-left: 20px;
}

svg {
	width: 20px;
	height: 20px;
	margin-right: 5px;
}

@media (max-width: 768px) {
	.btn-setting {
		margin-top: 80px;
	}
	.container-profile {
		height: 600px;
	}
}
