.container-friends{
    background: linear-gradient(180deg, #492E87 0%, #9D0191 100%);
    border-radius: 50px;
    width: 20vw;
    right: 0;
    display:flex;
    position: fixed;
    left: 82%;
    top: 10%;
    flex-direction: column;
    justify-content: center;
    align-items: baseline;
    gap: 20px;
    height: 80vh;
    padding-left: 30px;
    color: white;

}

@media (max-width: 600px) {
    .container-friends{
        width: 80%;
        height: 20vh;
        border-radius: 20px;
        position: absolute;
        flex-direction: column;
        left: 5%;
        top: 5%;
        gap: 0;
        overflow-y: hidden;
        overflow-x: scroll;
    } 

    .title{
        margin-bottom: 0;
    } 
    
    .container-friends-list{
        display: flex;
        flex-direction: row;
        
    } 
}