.friend-container{
    display: flex;
    flex-direction: row-reverse;
    gap: 12px;
    width: 100%;
    height: 60px;
}

.frame{
    height: 100%;
}

.frame img{
    height: 100%;
    border-radius: 100%;
    object-fit: cover;
}

.info-friend{
    display: flex;
    flex-direction: column;
    color: white;
}

.info-friend > :nth-child(2){
    color: rgba(255, 255, 255, 0.53);
}